<ion-view view-title="Connexion" name="connect-view">
    <ion-content class="padding">
        <div class="list list-inset">
            <label class="item">
                <button class="button button-block button-positive" ng-click="fbLogin()">
                    <i class="icon ion-social-facebook"></i>
                    Facebook
                </button>
            </label>
            <label class="item">
                <button class="button button-block button-calm" ng-click="twLogin()">
                    <i class="icon ion-social-twitter"></i>
                    Twitter
                </button>
            </label>
            <label class="item">
                <button class="button button-block button-assertive" ng-click="glLogin()">
                    <i class="icon ion-social-google"></i>
                    Google
                </button>
            </label>
        </div>
        <p class="centered">
            <a nav-clear menu-close href="#/register">Créer un compte</a>
        </p>
        <p class="centered">
            <a nav-clear menu-close href="#/login">J'ai déjà un compte</a>
        </p>

    </ion-content>
</ion-view>
