<ion-view view-title="Connexion" class="bgim" hide-nav-bar="true">
    <ion-content class="padding">
        <div class="logocontainer">
<!--             <img class="logo" src="./img/logo.png"> -->
            <h1 class="woozup-green" style="font-size: 60px">Woozup</h1>
            <hr>
            <br>
            <h2 style="color:#FFF;">Bienvenue !</h2>
            <br>
        </div>
<!--        <button class="button button-block button-positive disabled" ng-click="fbLogin()">
            Connexion avec
            <i class="icon ion-social-facebook"></i>
            Facebook
        </button>
        <button class="button button-block button-calm disabled" ng-click="twLogin()">
            Connexion avec
            <i class="icon ion-social-twitter"></i>
            Twitter
        </button>
        <button class="button button-block button-assertive disabled" ng-click="glLogin()">
            Connexion avec
            <i class="icon ion-social-google"></i>
            Google
        </button>-->
        <button class="button button-block button-balanced button-large" ui-sref="register">
            Je crée mon compte
        </button>
        <button class="button button-block button-light button-outline"
                ui-sref="login">
            J'ai déjà un compte
        </button>
    </ion-content>
</ion-view>
