<ion-view view-title={{event.event_type.name}} class="withBg"
          ng-style="{'background-image': 'url({{backgroundUrl}})'}">
    <ion-nav-bar class="bar-dark">
        <ion-nav-buttons side="left">
            <button class="button back-button buttons button-clear header-item"
                    ng-click="$ionicGoBack()">
                <i class="icon ion-chevron-left"></i>
                <span class="back-text"></span>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
<!--    <ion-nav-bar class="bar-dark">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon-left ion-chevron-left"
                    ng-click="where()">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>-->
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item item-thumbnail-right event-descr item-text-wrap">
                <img ng-src="{{event.type.icon}}">
                <h1>{{event.type.name}}</h1>
                <h2>{{event.start | date : 'EEEE d MMMM'}}</h2>
            </ion-item>
            <ion-item class="item event-descr">
                <h2>{{event.where.address}}</h2>
            </ion-item>
            <uib-timepicker id="tmpick" ng-model="event.start" minute-step="15"
                        show-meridian="false"></uib-timepicker>
            <form name="myform">
                <label class="item item-input">
                    <span class="input-label">Titre</span>
                    <input ng-model="event.title" type="text" placeholder="Titre">
                </label>
            </form>
        </ion-list>
        <br>
        <button class="button button-balanced button-down" ng-click="next()">
            C'est parti !
        </button>
    </ion-content>
<!--    <ion-footer-bar class="bar-balanced" ng-click="next()">
        <h1 class="title">C'est parti !</h1>
    </ion-footer-bar>-->
</ion-view>
