<ion-view view-title={{event.event_type.name}}>
    <ion-nav-buttons side="primary">
        <button class="button" ui-sref="new.what" nav-transition="none">
            <i class="icon ion-home"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item class="item item-thumbnail-right event-descr item-text-wrap" ng-style={{event.type.style}}>
                <img ng-src="{{event.type.image}}">
                <h1>{{event.type.name}}</h1>
                <h2>{{event.start | date : 'EEEE d MMMM'}}</h2>
                <h2>{{event.where.address}}</h2>
            </ion-item>
            <timepicker id="tmpick" ng-model="event.start" minute-step="15" show-meridian="false"></timepicker>
            <form name="myform">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Titre</span>
                    <input ng-model="event.title" type="text" placeholder="Titre">
                </label>
            </form>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-energized" ng-click="next()">
        <h1 class="title">C'est parti !</h1>
    </ion-footer-bar>
</ion-view>
