<ion-view view-title={{event.event_type.name}} class="bgim">
    <ion-content>
        <ion-list>
            <ion-item class="item item-thumbnail-right event-descr item-text-wrap">
                <img ng-src="{{event.type.image}}">
                <h1>{{event.type.name}}</h1>
                <h2>{{event.start | date : 'EEEE d MMMM'}}</h2>
            </ion-item>
            <ion-item class="item event-descr">
                <h2>{{event.where.address}}</h2>
            </ion-item>
            <timepicker id="tmpick" ng-model="event.start" minute-step="15"
                        show-meridian="false"></timepicker>
            <form name="myform">
                <label class="item item-input">
                    <span class="input-label">Titre</span>
                    <input ng-model="event.title" type="text" placeholder="Titre">
                </label>
            </form>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-balanced" ng-click="next()">
        <h1 class="title">C'est parti !</h1>
    </ion-footer-bar>
</ion-view>
