<ion-view view-title="L'agenda" hide-back-button=true>
    <ion-nav-buttons side="left">
        <button class="button" ui-sref="new.what" nav-transition="none">
            <i class="icon ion-home"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item class="item item-avatar-left" ng-repeat="event in events.page.objects" href="#/event/{{event.id}}">
                <img ng-src="{{event.owner.image}}">
                <h2>{{event.name}} ({{event.event_type.name}})</h2>
                <p>{{ event.start | date : 'medium'}} avec {{event.owner.name}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
