<ion-view view-title="Event">
    <ion-content>
        <div class="list">
            <a class="item item-thumbnail-right">
                <img src="{{event.event_type.image}}">
                <h2>{{event.name}} ({{event.event_type.name}})</h2>
                <p>{{ event.start | date : 'medium'}}</p>
            </a>
            <a class="item item-avatar">
                <img src="{{event.owner.image}}">
                <h2>{{event.owner.name}}</h2>
            </a>
        </div>    
        <ion-list>
            <ion-item class="item item-avatar-left" ng-repeat="participant in event.participants">
                <img ng-src="{{participant.image}}">
                <h3>{{participant.name}}</h3>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
