<!--<ion-nav-bar class="bar-dark">
    <ion-nav-buttons side="left">
        <button class="button" ui-sref="checkauth" nav-transition="none">
            <i class="icon ion-home"></i>
        </button>
    </ion-nav-buttons>
</ion-nav-bar>-->
<ion-tabs class="tabs-icon-top tabs-dark">
    <ion-tab title={{new.title}} ui-sref="friends.new" icon="ion-person-add" badge="new.badge" badge-style="badge-energized">
        <ion-nav-view name="newfriends"></ion-nav-view>
    </ion-tab>
    <ion-tab title={{pending.title}} ui-sref="friends.pending" icon="ion-person-stalker" badge="pending.badge" badge-style="badge-energized">
        <ion-nav-view name="pendingfriends"></ion-nav-view>
    </ion-tab>
    <ion-tab title={{my.title}} ui-sref="friends.my" icon="ion-ios-people">
        <ion-nav-view name="myfriends"></ion-nav-view>
    </ion-tab>
    <ion-tab title={{agendaTitle}} ui-sref="events.agenda" icon="ion-ios-people">
        <ion-nav-view name="agendaevents"></ion-nav-view>
    </ion-tab>
</ion-tabs>
