<ion-nav-bar class="bar-dark">
    <ion-nav-buttons side="left">
        <button class="button" ui-sref="new.what" nav-transition="none">
            <i class="icon ion-home"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button" ui-sref="friends.new" nav-transition="none">
            <i class="icon ion-person-add"></i>
        </button>
        <button class="button" ui-sref="friends.pending" nav-transition="none">
            <i class="icon ion-person-stalker"></i>
        </button>
        <button class="button" ui-sref="friends.my" nav-transition="none">
            <i class="icon ion-ios-people"></i>
        </button>
    </ion-nav-buttons>
</ion-nav-bar>
<ion-nav-view name="friends"></ion-nav-view>
