<ion-nav-bar class="bar-calm">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
        <button class="button" ui-sref="friends.new" nav-transition="none">
            <i class="icon ion-ios-people"></i>
        </button>
        <button class="button" ui-sref="events" nav-transition="none">
            <i class="icon ion-ios-calendar"></i>
        </button>
        <button class="button" ui-sref="new.what" nav-transition="none">
            <i class="icon ion-person"></i>
        </button>
    </ion-nav-buttons>
</ion-nav-bar>
<ion-nav-view name="new"></ion-nav-view>
