<ion-view view-title="Woozup">
    <ion-nav-buttons side="right">
        <button class="button button-positive button-outline" ng-click="findMoreFriends()">
            <i class="icon ion-android-person-add"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div ng-if="events.length==0" class="center-message">
            <p>Rien de prévu pour l'instant...</p>
            <button class="button button-positive button-outline" ng-click="findMoreFriends()">
                <i class="icon ion-android-person-add"></i>
                <br>
                Retrouve tes amis pour voir ce qu'ils ont prévu
            </button>
            <button class="button button-positive button-outline" ng-click="createEvent()">
                <i class="icon ion-ios-plus-outline"></i>
                <br>
                Lance ta première invitation !
            </button>
<!--            <a href="#/tab/new" class="button icon-left ion-ios-plus-outline button-positive button-outline">
                Lance ta première invitation !
            </a>-->
        </div>
        <ion-refresher pulling-text="Mise à jour" on-refresh="load()"></ion-refresher>
        <ion-list>
            <event-list events="events" userid="userid" reload="load"></event-list>
        </ion-list>
        <ion-infinite-scroll on-infinite="loadMore()"></ion-infinite-scroll>
    </ion-content>
<!--     must be out of the content -->
<!--    <button class="button button-positive bottom-right-button"
            ui-sref="menu.friends.new">
        <i class="icon ion-ios-people"></i>
    </button>-->
</ion-view>
