<ion-view view-title="Tabs" hide-nav-bar="true">
<ion-pane>
<ion-tabs class="tabs-striped tabs-top">

<!-- Tab 1 -->
<ion-tab title="MES AMIS" >
    <ion-nav-view name="tab-tab1">
        <ion-content ng-controller="JournalFriendCtrl">
            <ion-list>
                <record-list records="records"></record-list>
            </ion-list>
            <ion-infinite-scroll on-infinite="loadMore()"></ion-infinite-scroll>
        </ion-content>
    </ion-nav-view>
</ion-tab>


<!-- Tab 2 -->
<ion-tab title="MOI">
    <ion-nav-view name="tab-tab2">
        <ion-content ng-controller="PendingFriendsCtrl">
            <ion-list>
                <user-list displaybutton=true users="friends"></user-list>
            </ion-list>
            <ion-infinite-scroll on-infinite="loadMore()"></ion-infinite-scroll>
        </ion-content>
    </ion-nav-view>
</ion-tab>
</ion-tabs>

</ion-pane>
</ion-view>