<ion-view view-title="Se connecter" class="bgim" hide-nav-bar="true">
    <ion-content class="padding">
        <div class="logocontainer">
<!--             <img class="logo" src="./img/logo.png"> -->
            <h1 class="woozup-green" style="font-size: 60px">Woozup</h1>
            <hr>
            <br>
        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" autocapitalize="off" autocorrect="off"
                       ng-model="data.login">
            </label>
            <label class="item item-input">
                <span class="input-label">Mot de passe</span>
                <input type="password" ng-model="data.password">
            </label>
        </div>
        <button class="button button-block button-balanced" ng-click="login()"
                ng-disabled="!data.login || !data.password">
            Se connecter
            </button>
        <br>
        <button class="button button-block button-light button-clear button-large"
                ng-click="reset()">
            J'ai perdu mon mot de passe
        </button>
        <button class="button button-block button-balanced button-clear button-large"
                ui-sref="register">
            Créer un nouveau compte
        </button>
    </ion-content>
</ion-view>
