<ion-view view-title="Connexion au serveur" class="bgim" hide-nav-bar="true">
  <ion-content class="padding">
        <div class="logocontainer">
<!--             <img class="logo" src="./img/logo.png"> -->
            <h1 class="woozup-green" style="font-size: 60px">Woozup</h1>
            <hr>
            <br>
            <h2 style="color:#FFF;">Connexion au serveur impossible</h2>
            <br>
            <h3 style="color:#FFF;">Vérifie ta connexion à Internet</h3>
            <br>
            <button class="button button-block button-balanced button-large"
                    ng-click="retry()">
                Réessayer
            </button>
        </div>
  </ion-content>
</ion-view>
