<ion-view view-title={{title}}>
    <ion-nav-buttons side="primary">
        <button class="button" ui-sref="new.what" nav-transition="none">
            <i class="icon ion-home"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item class="item item-avatar item-button-right"
                      ng-repeat="friend in friends.page.objects">
                <img ng-src="{{friend.image}}">
                <h2>{{friend.name}}</h2>
                <p>{{friend.user.username}}</p>
                <p>{{friend.user.email}}</p>
                <button class="button button-outline button-positive"
                        ng-click="friendButtonAction(friend.user.id)">
                    {{buttonTitle}}
                </button>
            </ion-item>
            <ion-item class="item item-avatar item-button-right"
                      ng-repeat="invite in invites.page.objects">
                <img ng-src="{{invite.photo}}">
                <h2>{{invite.name}}</h2>
                <p>{{invite.number}}, {{invite.email}}</p>
                <div class="buttons">
                    <button class="button button-positive"
                            ng-click="inviteButtonAction(invite.id)">
                            <i class="icon ion-checkmark-circled"></i>
                    </button>
                    <button class="button button-assertive"
                            ng-click="ignoreButtonAction(invite.id)">
                            <i class="icon ion-android-cancel"></i>
                    </button>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
