<ion-view view-title={{title}}>
    <ion-content>
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="Recherche" ng-model="search"
                 ng-change="onSearchChange(search)">
        </label>
        <ion-list>
            <ion-item class="item item-avatar item-button-right"
                      ng-repeat="friend in friends track by $index">
                <img ng-src="{{friend.image}}">
                <h2>{{friend.first_name}}</h2>
<!--                 <p>{{friend.user.email}}</p> -->
                <div class="buttons">
                    <button class="button button-outline button-stable roundbutton"
                            ng-click="ignoreFriendButton(friend)"
                            ng-if="displayButton">
                            <i class="icon ion-android-cancel"></i>
                    </button>
                    <button class="button button-outline button-balanced roundbutton"
                            ng-click="inviteFriendButton(friend)"
                            ng-if="displayButton">
                            <i class="icon ion-person-add"></i>
                    </button>
                </div>
            </ion-item>
            <ion-item class="item item-avatar item-button-right"
                      ng-repeat="invite in invites track by $index">
                <img ng-if="invite.photo" ng-src={{invite.photo}}>
                <img ng-if="!invite.photo" src="img/round58-grey.png">
                <h2>{{invite.name}}</h2>
                <p>{{invite.numbers}}</p>
                <p>{{invite.emails}}</p>
                <div class="buttons">
                    <button class="button button-outline button-stable roundbutton"
                            ng-click="ignoreInviteButton(invite)">
                            <i class="icon ion-android-cancel"></i>
                    </button>
                    <button class="button button-outline button-balanced roundbutton"
                            ng-click="sendInviteButton(invite)">
                            <i class="icon ion-person-add"></i>
                    </button>
                </div>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="loadMore()"></ion-infinite-scroll>
    </ion-content>
</ion-view>
