<ion-view view-title={{title}}>
    <ion-nav-buttons side="primary">
        <button class="button" ui-sref="new.what" nav-transition="none">
            <i class="icon ion-home"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item class="item item-avatar item-button-right"
                      ng-repeat="contact in contacts">
                {{contact}}
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item class="item item-avatar item-button-right"
                      ng-repeat="friend in friends.page.objects">
                <img ng-src="{{friend.image}}">
                <h2>{{friend.name}}</h2>
                <p>{{friend.user.username}}</p>
                <p>{{friend.user.email}}</p>
                <div class="buttons">
                    <button class="button button-outline roundbutton"
                            ng-click="ignoreFriendButton(friend.user.id)">
                            <i class="icon ion-android-cancel"></i>
                    </button>
                    <button class="button button-outline button-calm roundbutton"
                            ng-click="inviteFriendButton(friend.user.id)">
                            <i class="icon ion-person-add"></i>
                    </button>
                </div>
            </ion-item>
            <ion-item class="item item-avatar item-button-right"
                      ng-repeat="invite in invites.page.objects">
                <img ng-src="{{invite.photo}}">
                <h2>{{invite.name}}</h2>
                <p>{{invite.number}}</p>
                <p>{{invite.email}}</p>
                <div class="buttons">
                    <button class="button button-outline roundbutton"
                            ng-click="ignoreInviteButton(invite.id)">
                            <i class="icon ion-android-cancel"></i>
                    </button>
                    <button class="button button-outline button-calm roundbutton"
                            ng-click="sendInviteButton(invite.id)">
                            <i class="icon ion-person-add"></i>
                    </button>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
