<ion-view view-title="Woozup" class="bgim" hide-nav-bar="true">
    <ion-content class="padding">
        <br>
        <h3 class="centered" style="color:#FFF;">Il faut que tes amis te reconnaissent !</h3>
        <br>
        <p class="note">Saisis ton nom et choisis une photo</p>
        <div class="list card">
            <div class="item item-avatar">
                <img ng-src="{{myCroppedImage}}">
                <input type="text" ng-model="data.first_name" name="name-input">
            </div>
        </div>
        <div class="profilePicture">
            <img ng-if="!myImage" src="img/round58.png"
                 ng-click="openModal()"></img>
            <img ng-if="myImage" ng-src="{{myCroppedImage}}"
                 ng-click="openModal()"></img>
        </div>
        <div>
            <button class="button button-block button-balanced"
                    ng-click="next()"
                    ng-disabled="!data.first_name || !myImage">
                OK, ça me va
            </button>
        </div>
    </ion-content>
</ion-view>
