<ion-view view-title="Meet" class="bgim" hide-nav-bar="true">
    <ion-content class="padding">
        <h2 class="centered" style="color:#FFF;">Ajoutez une photo à votre profil</h2>
        <div class="cropArea" ng-click="pictureMethods()">
            <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Nom complet (facultatif)" ng-model="data.firstname">
            </label>
        </div>
        <div>
            <button class="button button-block button-balanced" ng-click="next(myCroppedImage)" ng-disabled="!myImage">
                OK, ça me va
            </button>
        </div>
    </ion-content>
</ion-view>
