<ion-view view-title="Meet">
    <ion-content class="padding">
        <h2>Il vous faut une photo,</h2>
        <h4>pour que vos amis vous reconnaissent !</h4>


        <div class="list card">

            <div class="item item-avatar">
                <img id="myImage">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </div>

            <div class="item item-image">
                <img id="myImage">
            </div>

            <div class="item item-image item-avatar">
                <img id="myImage">
            </div>

        </div>
    </ion-content>
</ion-view>
