<!--<ion-nav-bar>
    <ion-nav-buttons side="left">
        <button class="button back-button buttons button-clear header-item"
                ng-click="$ionicGoBack()">
            <i class="icon ion-chevron-left"></i>
            <span class="back-text"></span>
        </button>
    </ion-nav-buttons>
</ion-nav-bar>-->
<ion-view view-title="{{profile.first_name}}">
    <ion-content class="padding">
            <img ng-src="{{profile.image}}" ng-click="openModal()">
        <div class="profilePicture">
            <img ng-src="{{profile.image}}" ng-click="openModal()">
            <img ng-if="!profile.image" src="img/round58.png"
                 ng-click="openModal()"></img>
        </div>
        <form name="myform">
            <label class="item item-input">
                <span class="input-label">Nom</span>
                <input type="text" ng-model="profile.first_name">
            </label>
            <label class="item item-input">
                <span class="input-label">N° de mobile</span>
                <input type="tel" ng-model="profile.number" placeholder="+33601020304">
            </label>
        </form>
        <br>
        <button class="button button-block button-balanced"
                ng-click="saveProfile()">
            Mettre à jour
        </button>
    </ion-content>
</ion-view>
