<ion-view view-title="Woozup" hide-nav-bar="true">
    <ion-content>
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="Recherche" ng-model="search" ng-change="onSearchChange(search)">
        </label>
        <ion-list>
            <user-list users="users" displaybutton=true></user-list>
<!--            <user-list users="friends" displaybutton=true></user-list>
            <invite-list invites="invites"></invite-list>-->
        </ion-list>
        <ion-infinite-scroll on-infinite="loadMore()"></ion-infinite-scroll>
    </ion-content>
</ion-view>
