<ion-tabs class="tabs-stable">
    <ion-tab href="#/tab/home" icon="ion-home">
        <ion-nav-view name="home"></ion-nav-view>
    </ion-tab>
    <ion-tab href="#/tab/search" icon="ion-ios-search-strong">
        <ion-nav-view name="search"></ion-nav-view>
    </ion-tab>
    <ion-tab href="#/tab/new" icon="ion-ios-plus-outline positive">
        <ion-nav-view name="newevent"></ion-nav-view>
    </ion-tab>
    <ion-tab href="#/tab/journal" icon="ion-ios-heart">
        <ion-nav-view name="journal"></ion-nav-view>
    </ion-tab>
    <ion-tab href="#/tab/account" icon="ion-android-person">
        <ion-nav-view name="account"></ion-nav-view>
    </ion-tab>
</ion-tabs>
