<ion-view view-title={{title}} class="bgim">
    <ion-nav-bar class="bar-dark">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon-left ion-chevron-left"
                    ui-sref="events.agenda">
                retour
            </button>
    </ion-nav-buttons>

    </ion-nav-bar>
    <ion-content class="gallery">
        <span class="item-tile" ng-repeat="type in types.page.objects"
              ng-style={{type.style}} ng-click="next(type.id)">
            <img class="category" ng-src="{{type.icon}}">
            <div>
                <p class="category-title">{{type.short_name}}</p>
            </div>
        </span>
        <hr>
    </ion-content>
</ion-view>
