<ion-view view-title="Meet">
    <div class="tabs tabs-icon-top tabs-dark">
        <a class="tab-item" title="Les sorties prévues" ui-sref="events.friends">
            <i class="icon ion-ios-calendar">
                <span class="badge badge-assertive">0</span>
            </i>
            Mes sorties
        </a>
        <a class="tab-item" title="Mes amis" ui-sref="friends.new">
            <i class="icon ion-ios-people"></i>
            Mes amis
        </a>
    </div>
    <ion-content class="gallery">
        <span class="item-tile" ng-repeat="type in types.page.objects" ng-style={{type.style}} ng-click="next(type.id)">
            <img class="category" ng-src="{{type.image}}">
            <div>
                <p class="category-title">{{type.short_name}}</p>
            </div>
        </span>
    </ion-content>
</ion-view>
