<ion-view view-title={{title}} class="withBg"
          ng-style="{'background-image': 'url({{backgroundUrl}})'}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"
                class="button button-icon icon ion-navicon">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <datepicker id="dtpick" ng-model="when.date" show-weeks="false"
                    starting-day="1" min-date="when.mindate">
        </datepicker>
        <button class="button icon-right ion-chevron-right
                       button-balanced button-down"
                ng-click="next(when.date)">
            Le {{when.date | date:'EEEE d MMMM'}}
        </button>
    </ion-content>
</ion-view>
