<ion-view view-title={{title}} class="withBg"
          ng-style="{'background-image': 'url({{backgroundUrl}})'}">
    <ion-nav-bar class="bar-dark">
        <ion-nav-back-button class="button-clear icon-left ion-chevron-left">
            retour
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content ng-controller="WhereCtrl as vm">
        <input g-places-autocomplete class="controls map-input" type="text"
               placeholder="Entrez une adresse ou cliquez sur la carte"
               ng-model="vm.place" ng-change="vm.placeChanged()"/>
        <ng-map class="map" zoom="18" center="current"
                on-click="vm.onClick()" data-tap-disabled="true"
                disable-default-u-i="true">
            <marker position="[{{vm.lat}}, {{vm.lng}}]" title="marker"
                    centered="true" animation="Animation.DROP"></marker>
        </ng-map>    
        <button class="button icon-right ion-chevron-right button-balanced button-down"
                ng-click="next()">
            {{vm.where}}
        </button>
    </ion-content>
</ion-view>
