<ion-view view-title={{vm.title}} class="withBg" ng-controller="WhereCtrl as vm"
          ng-style="{'background-image': 'url({{vm.backgroundUrl}})'}">
    <ion-nav-bar class="bar-dark">
        <ion-nav-buttons side="left">
            <button class="button back-button buttons button-clear header-item"
                    ng-click="$ionicGoBack()">
                <i class="icon ion-chevron-left"></i>
                <span class="back-text"></span>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
<!--    <ion-nav-bar class="bar-dark">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon-left ion-chevron-left"
                    ng-click="vm.back()">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>-->
    <ion-content>
        <input g-places-autocomplete class="controls map-input" type="text"
               placeholder="Entrez une adresse ou cliquez sur la carte"
               ng-model="vm.place" ng-change="vm.placeChanged()"/>
        <ng-map class="map" zoom="17" center="[{{vm.lat}}, {{vm.lng}}]"
                on-click="vm.onClick()" data-tap-disabled="true"
                disable-default-u-i="true">
            <marker position="[{{vm.lat}}, {{vm.lng}}]" title="marker"
                    centered="true" animation="Animation.DROP"></marker>
<!--                 <marker ng-repeat="pos in vm.positions" position="{{pos.lat}}, {{pos.lng}}"></marker> -->
        </ng-map>    
        <button class="button icon-right ion-chevron-right button-balanced button-down"
                ng-click="vm.next()">
            {{vm.where}}
        </button>
    </ion-content>
</ion-view>
