<!-- tabs -->
<ion-tabs class="tabs-icon-top">
    <ion-tab title={{newTitle}} href="#/menu/events/new"
                icon="ion-plus-circled">
        <ion-nav-view name="newevents"></ion-nav-view>
    </ion-tab>
    <ion-tab title={{agendaTitle}} href="#/menu/events/agenda"
                icon="ion-ios-calendar">
        <ion-nav-view name="agendaevents"></ion-nav-view>
    </ion-tab>
    <ion-tab title={{friendsEventTitle}} href="#/menu/events/friends"
                icon="ion-ios-help">
        <ion-nav-view name="friendsevents"></ion-nav-view>
    </ion-tab>
</ion-tabs>
