<ion-view view-title="Lancer une invitation">
    <ion-content class="padding">
        <button ng-if="!what" ng-click="whatModal.show()"
                class="button button-block button-large button-stable icon-left ion-ios-help-outline">
            Quoi
        </button>    
        <button ng-if="what"  ng-click="whatModal.show()" ng-model="what"
                class="button button-block button-large category-grid-item"
                ng-style="{{what.style}}" style="margin-left:0;">
            <img ng-if="what.icon" ng-src="{{what.icon}}">
            <span>{{what.short_name}}</span><span ng-if="title"> ({{title}})</span>
        </button>
        
        <button ng-if="!when" ng-click="whenModal.show()"
                class="button button-block button-large button-stable icon-left ion-ios-clock-outline">
            Quand
        </button>
        <button ng-if="when"  ng-click="whenModal.show()" ng-model="when"
                class="button button-block button-large button-positive">
            Le {{when | date:'EEEE d MMMM à HH:mm'}}
        </button>
        
        <button ng-if="!where"  ng-click="whereModal.show()"
                class="button button-block button-large button-stable icon-left ion-ios-location-outline">
            Où
        </button>
        <button ng-if="where"  ng-click="whereModal.show()" ng-model="where"
                class="button button-block button-large button-energized">
            {{where.address}}
        </button>
        
        <button ng-if="!who" ng-click="showWho()"
                class="button button-block button-large button-stable icon-left ion-ios-people-outline">Qui</button>
        <button ng-if="who"  ng-click="showWho()"
                class="button button-block button-large button-balanced">
            <span ng-if="who<2">{{who}} invité</span>
            <span ng-if="who>1">{{who}} invités</span>
        </button>
        
        <button class="button button-large button-royal" ng-click="create()" ng-disabled="(!what || !who || !when || !what)">
            C'est parti !
        </button>
    </ion-content>
</ion-view>
