<ion-view view-title="Nouvel événement">
  <ion-content class="padding">
    <button class="button button-block" ng-click="whatModal.show()" ng-model="what">
        {{what.short_name}}
    </button>
    <button class="button button-block" ng-click="whenModal.show()" ng-model="when">
        Le {{when | date:'EEEE d MMMM à HH:mm'}}
    </button>
    <button class="button button-block" ng-click="whereModal.show()">
        Où ?
    </button>
    <button class="button button-block" ng-click="whoModal.show()">
        Avec qui ?
    </button>
    <button class="button button-block button-balanced" ng-click="create()">
        C'est parti !
    </button>
  </ion-content>
</ion-view>
