<ion-view view-title={{event.event_type.name}}>
    <ion-nav-buttons side="left">
        <button class="button" ng-click="goBackAction()">
            <i class="icon ion-ios-arrow-thin-left woozup-color"></i>
        </button>
    </ion-nav-buttons>
    <ion-content class="padding text-center">
        <div class="row text-center profile-header no-padding-margin">
            <div class="col col-33">
                <img ng-if="event.owner.profile.image" ng-src="{{event.owner.profile.image}}">
                <img ng-if="!event.owner.profile.image" ng-src="img/round58-grey.png">
                <p>{{event.owner.first_name}} {{event.owner.last_name}}</p>
            </div>
            <div class="col">
<!--                     <img ng-src="{{event.event_type.icon}}"> -->
                    <h2 ng-if=!event.canceled>{{event.name}}</h2>
                    <h2 ng-if=event.canceled><s>{{event.name}}</s> (annulé)</h2>
            </div>
        </div>
        <p>{{event.start | date : 'EEEE d MMMM à H:mm'}}</p>
        <p>{{event.location_name}} <span ng-if="event.location_name">-</span> {{event.location_address}}</p>
        <button ng-if="!event.canceled && buttonTitle" class="button button-block button-positive button-outline icon ion-android-hand" ng-click="buttonAction(event.id)">
            {{buttonTitle}}
        </button>
        <div class="item item-divider separator">
            AVEC ({{event.participants.length}})
        </div>
        <p ng-if="event.participants.length==0">Personne pour l'instant</p>
        <participant-list ng-if="event.participants.length!=0" users="event.participants"></participant-list>
        <div class="item item-divider separator">
            DISCUSSION
        </div>
        <div class="bottom-space">
            <comment-list event="event"></comment-list>
        </div>
    </ion-content>
</ion-view>
