<ion-modal-view>
    <ion-content class="text-center">
<!--         <ion-list class="text-center"> -->
            <button class="button category-grid-item"
                    ng-repeat="type in types.page.objects"
                    ng-click="setWhat(type)"
                    item-width="33%" item-height="200px"
                    style={{type.style}}>
                <img ng-if="type.icon" ng-src="{{type.icon}}">
                <span>{{type.short_name}}</span>
            </button>
    </ion-content>
</ion-modal-view>
