<!--<ion-view view-title={{title}} class="withBg"
          ng-style="{'background-image': 'url({{backgroundUrl}})'}">
    <ion-nav-bar class="bar-dark">
        <ion-nav-buttons side="left">
            <button class="button back-button buttons button-clear header-item"
                    ng-click="$ionicGoBack()">
                <i class="icon ion-chevron-left"></i>
                <span class="back-text"></span>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>-->
<!--    <ion-nav-bar class="bar-dark">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon-left ion-chevron-left"
                    ui-sref="events.new">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>-->
<ion-modal-view>
<!--    <ion-header-bar>
      <h1 class="title">Quand ?</h1>
    </ion-header-bar>-->
    <ion-content>
<!--        <uib-datepicker id="dtpick" ng-model="when.date" show-weeks="false"
                    starting-day="1" min-date="when.mindate">
        </uib-datepicker>-->
        <div class="dtpickbox">
            <div uib-datepicker ng-model="when" class="well well-sm" datepicker-options="options"></div>
        </div>
        <div uib-timepicker ng-model="when" minute-step="15" show-meridian="false"></div>
<!--        <uib-timepicker id="tmpick" ng-model="event.start" minute-step="15"
                            show-meridian="false"></uib-timepicker>-->
        <button class="button button-balanced button-down"
                ng-click="setWhen(when)" name="next-button">
            Le {{when | date:'EEEE d MMMM à HH:mm'}}
        </button>
    </ion-content>
</ion-modal-view>
<!-- </ion-view> -->
