<!--<ion-view view-title={{vm.title}} class="withBg" ng-controller="WhereCtrl as vm"
          ng-style="{'background-image': 'url({{vm.backgroundUrl}})'}">
    <ion-nav-bar class="bar-dark">
        <ion-nav-buttons side="left">
            <button class="button back-button buttons button-clear header-item"
                    ng-click="$ionicGoBack()">
                <i class="icon ion-chevron-left"></i>
                <span class="back-text"></span>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>-->
<ion-modal-view>
<!--    <ion-header-bar>
      <h1 class="title">Où ?</h1>
    </ion-header-bar>-->
    <ion-content>
        <input g-places-autocomplete class="controls map-input" type="text" placeholder="Lieu" ng-model="vm.place" ng-change="vm.placeChanged()"/>
        <ng-map class="map" zoom="17" center="[{{vm.lat}}, {{vm.lng}}]" on-click="vm.onClick()" data-tap-disabled="true" disable-default-u-i="true">
            <marker position="[{{vm.lat}}, {{vm.lng}}]" title="marker" animation="Animation.DROP"></marker>
<!--                 <marker ng-repeat="pos in vm.positions" position="{{pos.lat}}, {{pos.lng}}"></marker> -->
        </ng-map>    
        <button class="button button-balanced button-down"
                ng-click="vm.setWhere()">
            {{vm.where}}
        </button>
    </ion-content>
</ion-modal-view>
<!-- </ion-view> -->
