<ion-modal-view>
    <ion-content>
        <ion-list>
            <ion-checkbox ng-model="all.checked" ng-change="allChanged()">
                Tout le monde
            </ion-checkbox>
            <ion-checkbox class="item item-avatar item-checkbox-right" ng-change="itemChanged()" ng-repeat="friend in friends track by $index" ng-model=friend.checked ng-checked="friend.checked">
                <img ng-src="{{friend.profile.image}}">
                <h2>{{friend.first_name}} {{friend.last_name}}</h2>
            </ion-checkbox>
        </ion-list>
        <ion-infinite-scroll on-infinite="loadMore()"></ion-infinite-scroll>
    <button class="button button-balanced button-down"
            ng-click="setWho()" name="next-button">
        OK
    </button>
    </ion-content>
</ion-modal-view>
