<ion-refresher ng-if="$ctrl.refresher" pulling-text="Mise à jour" on-refresh="$ctrl.load()"></ion-refresher>
<ion-list>

    <ion-item ng-if="!$ctrl.events" class="text-center">
        <ion-spinner icon="ripple"></ion-spinner>
    </ion-item>

    <ion-item class="item item-avatar smaller-item" ng-repeat="event in $ctrl.events track by $index" ng-click="$ctrl.editEvent(event)">
        <img ng-if="event.owner.profile.image" ng-src={{event.owner.profile.image}}>
        <img ng-if="!event.owner.profile.image" ng-src="img/round58-grey.png">
        <h2><strong>{{event.name}} <span ng-if=!event.name> {{event.event_type.description}}</span></strong></h2>
        <p>avec {{event.owner.first_name}} {{event.owner.last_name}}
            <span ng-if="event.participants.length>0">et {{event.participants.length}}</span>
            <span ng-if="event.participants.length==1"> autre personne</span>
            <span ng-if="event.participants.length>1"> autres personnes</span>
        </p>
        <p><b ng-if="event.canceled" class="canceled-message">(annulé) </b>{{ event.start | date : 'EEEE d MMMM à H:mm'}}</p>
        <div ng-if="!event.canceled">
            <button ng-if="event.ownership" class="button button-clear button-assertive icon ion-android-cancel" ng-click="$ctrl.cancelEvent(event); $event.stopPropagation();" stop-event="click"></button>
            <button ng-if="!event.ownership && event.participate" class="button button-clear button-positive icon ion-android-hand" ng-click="$ctrl.leaveEvent(event); $event.stopPropagation();" stop-event="click"></button>
            <button ng-if="!event.ownership && !event.participate" class="button button-clear button-stable icon ion-android-hand" ng-click="$ctrl.joinEvent(event); $event.stopPropagation();" stop-event="click"></button>
            <button class="button button-clear button-stable icon ion-chatbubbles"></button>
        <!--     <button class="button button-clear button-stable icon ion-forward"></button> -->
        </div>
        <div class="category-icon-right" style={{event.event_type.style}}>
            <img ng-src="{{event.event_type.icon}}"></img>
        </div>
    </ion-item>

</ion-list>
<ion-infinite-scroll ng-if="$ctrl.moreInfinite" on-infinite="$ctrl.loadMore()"></ion-infinite-scroll>

<button class="button button-clear button-positive button-block"
        ng-if="$ctrl.moreManual && $ctrl.showButton" ng-click="$ctrl.loadMore()">
        Commentaires précédents
</button>
