<!-- Refresher must be immediate child of ion-content or ion-scroll -->
<ion-refresher pulling-text="Mise à jour" on-refresh="$ctrl.onSearchChange($ctrl.search)"></ion-refresher>

<label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="search" placeholder="Recherche" ng-model="$ctrl.search"
            ng-change="$ctrl.onSearchChange($ctrl.search)">
</label>

<ion-list>

    <ion-item ng-if="!$ctrl.invites" class="text-center">
        <ion-spinner icon="ripple"></ion-spinner>
    </ion-item>

    <ion-item class="item item-avatar item-button-right" ng-repeat="invite in $ctrl.invites track by $index">
    <!--    <img ng-if="invite.photo" ng-src={{invite.photo}}>
        <img ng-if="!invite.photo" src="img/round58-grey.png">-->
        <div class="item-text-center">
            <p>{{invite.name}}</p>
        </div>
    <!--     <p>{{invite.numbers}}</p> -->
    <!--     <p>{{invite.emails}}</p> -->
        <div class="buttons">
            <button class="button button-outline button-stable roundbutton" ng-click="$ctrl.ignore(invite)">
                <i class="icon ion-android-cancel"></i>
            </button>
            <button class="button button-outline button-positive roundbutton" ng-click="$ctrl.send(invite)">
                <i class="icon ion-android-person-add"></i>
            </button>
        </div>
    </ion-item>

</ion-list>
<ion-infinite-scroll on-infinite="$ctrl.loadMore()"></ion-infinite-scroll>
