<ion-item class="item item-avatar" ng-repeat="record in $ctrl.records track by $index" href="#/user/{{record.user.id}}">
    <img ng-if="record.user.profile.image" ng-src="{{record.user.profile.image}}">
    <img ng-if="!record.user.profile.image" ng-src="img/round58-grey.png">
    <p ng-switch="record.record_type">
        <strong>{{record.user.first_name}} {{record.user.last_name}}</strong>
        <span ng-switch-when="NEWUSER">vient de s'inscrire sur Woozup</span>
        <span ng-switch-when="NEWPARTICIPANT">participera à {{record.refering_event.name}}</span>
        <span ng-switch-when="NEWEVENT">a lancé une nouvelle invitation : {{record.refering_event.name}}</span>
        <span ng-switch-when="NEWFRIEND">s'est connnecté avec {{record.refering_user.first_name}} {{record.refering_user.last_name}}</span>
    </p>
    <p class="text-right">{{record.updated_at | date: 'EEEE d, HH:mm' }}</p>
</ion-item>
