<div class="row profile-header no-padding-margin">
    <div class="col col-33">
        <img ng-if="$ctrl.user.profile.image" ng-src={{$ctrl.user.profile.image}}>
        <img ng-if="!$ctrl.user.profile.image" ng-src="img/round58-grey.png">
    </div>
    <div class="col col-center">
        <div class="row no-padding-margin">
            <div class="col no-padding-margin">
                <p>{{ $ctrl.user.first_name }}<p>
                <p>{{ $ctrl.user.last_name }}<p>
            </div>
            <div class="col no-padding-margin">
                <p ng-click="$ctrl.toogle2events()">
                    <strong ng-if="$ctrl.events>-1">{{ $ctrl.events }}</strong>
                    <ion-spinner ng-if="!($ctrl.events  > -1)" icon="ripple"></ion-spinner>
                </p>
                <p>sorties</p>
            </div>
        </div>
        <div class="row no-padding-margin">
            <invite-button ng-if="$ctrl.notMe" user-id="$ctrl.userId" style="width:100%;"></invite-button>
            <button ng-if="!$ctrl.notMe" class="button button-small button-block button-outline woozup-color" ng-click="$ctrl.buttonClicked()">Modifier mon profil</button>
        </div>
    </div>
</div>
