<ion-view view-title="Connexion au serveur" class="bgim registration" hide-nav-bar="true">
  <ion-content class="padding">
            <h1 class="woozup-title white text-center">Woozup</h1>
            <h2 class="white text-center">Connexion perdue</h2>
<!--             <h3 class="white text-center">Vérifie ta connexion à Internet</h3> -->
            <br>
            <button class="button button-block button-light button-large button-outline"
                    ng-click="retry()">
                Me reconnecter
            </button>
        </div>
  </ion-content>
</ion-view>
