/*.bar.bar-dark, .tabs-dark > .tabs, .tabs.tabs-dark, .bar-dark .button {
    background: transparent;
    border-color: #FFF;
}*/
.no-padding-margin {
    padding: 0;
    margin: 0;
}
.white {
    color: white;
}
.grey {
    color: grey;
}
.registration {
    padding: 30px;
}
.registration h1, .registration h2 {
    margin: 60px 0 40px 0;
}
.woozup-title {
    font-size: 60px;
}
.registration .item.item-input, .registration .item.intlpn-container {
    border: none !important;
    background-color: rgba(255,255,255,0.2) !important;
}
.registration .input-label, .registration .item-input input, .registration .intlpn-container input {
    color: white !important;
}
.registration ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white !important;
    opacity:  .9;
}
.registration ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white !important;
    opacity:  .9;
}
.padding {
    padding: 10px;
}
.canceled-title {
    text-decoration:line-through;
}
.canceled-message {
    color: red;
}
/*.item {
    opacity: 0.8;
    min-height: 38px;
}
.item-avatar {
    padding-left: 55px;
}
.item-avatar > img:first-child {
    left: 5px;
}
.item-avatar-right, .item-avatar-right .item-content {
    min-height: 38px;
}*/
.item-button-right .buttons {
    right: 5px;
}
.item-button-right {
    padding-right: 110px;
}
/*.event-item .item-content {
    padding-left: 70px;
    padding-right: 90px;
}
.event-item-icon {
    background: grey;
    border-radius: 0 80% 0 0;
    position: absolute;
    bottom: 0;
    left: 1px;
    height: 70%;
    padding: 15px 10px 5px 5px;
    z-index: -1;
    opacity: 0.2;
}
.event-item-avatar {
    border-radius: 50%;
    position: absolute;
    top: 1px;
    bottom: 1px;
    right: 5px;
    height: 85%;
    margin: auto;
    z-index: -1;
}*/
.gallery {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
/*     margin: 3px; */
}
.item-tile {
    border-radius: 50%;
    color: white;
    background: #929292;
    display: inline-block;
    margin: 2%;
/*     padding: 15px 0 5px 0; */
    padding-top: 10px;
    text-align: center;
    height: 100px;
    width: 100px;
}
.category-title {
    color: white;
}
.category {
    height: 50px;
}
.button-date {
    width: 66%;
    display: block;
    margin: auto;
    margin-top: 20px;
}
.event-descr {
    background-color: transparent;
    border-width: 0;
/*     border-radius: 0 0 70% 30%; */
    color: white;
/*     padding-bottom: 40px; */
    opacity: 1;
}
.event-descr h1 {
    color: #EEE;
    white-space: normal;
}
.event-descr h2 {
    color: #FFF;
    white-space: normal;
    line-height: 1.2;
/*     margin-top: 5px; */
}
.event-descr img {
    bottom: 15px;
}
.event-participant-title {
    margin-top: 0px;
    color: #EEE;
    text-align: center;
}
.dtpickbox {
    display: inline-block;
    min-height: 50px;
    width: 100%;
}
.uib-datepicker {
    padding: 2px;
}
.uib-datepicker table {
    min-width: 90%;
    margin: auto;
}
.uib-datepicker table tr, th, td {
    padding: 1px;
    vertical-align: middle;
}
.uib-timepicker {
    margin: auto;
}
#tmpick {
    margin: 0 auto -5px auto;
}
.map {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.map-input {
    position: absolute;
    top: 4px;
    left: 2%;
    width: 96%;
    right: 2%;
    z-index: 1;
}
.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}
.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}
input[type="text"].controls {
    padding-left: 10px;
}
.controls {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    height: 30px;
/*     margin-left: 17px; */
    margin-top: 1px;
    outline: none;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
}

.controls:focus {
    border-color: #4d90fe;
}
.button-down {
    left: 2%;
    width: 96%;
    bottom: 1%;
    position: absolute;
    z-index: 10;
}
.roundbutton {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.bottom-right-button {
    border-radius: 100% 0 0 0;
    bottom: 0px;
    box-shadow: 2px 2px 20px #545454;
    height: 100px;
    opacity: 0.7;
    padding: 20px 0 0 30px;
    position: absolute;
    right: 0px;
    width: 110px;
    z-index: 500;
}
.bottom-right-button .icon::before {
    font-size: 80px;
}
.cropArea {
    background: url('../img/round58.png') no-repeat center center;
    background-color: #EEE;
    background-size: 70% auto;
    border-radius: 5%;
    margin: auto;
/*     width:300px; */
/*     min-height: 300px; */
    height:50%;
    padding: 2px;
    overflow: hidden;
    text-align: center;
}
.photoButton{
    margin: -10px 10px 10px 10px;
}
.scroll {
    height: 100%;
}
.bgim {
    background: url('../img/blurred_colors.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
/*     background: linear-gradient(to bottom right, darkblue, lightblue); */
}
.blue-bgim {
/*    background: url('../img/splash-blue.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}
.withBg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.logocontainer {
    text-align: center;
    margin: 30px;
}
.logo {
    width: 60%;
    margin: 30px;
}
.profile-header {
    padding: 10px;
    margin: 5px;
}
.profile-header p {
    margin: 0;
}
.profile-header img {
    border-radius: 50%;
    width: 90%;
}
.ilb {
    display: inline-block;
}
#myform {
    padding: 16px;
}
.note {
    color: white;
    text-align: center;
}

input.ng-invalid-pattern {
    color: red;
}
.icon {
    width: 30%;
    margin: auto;
}
