.item-tile {
    color: white;
    background: #AB9BFF;
    display: inline-block;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: -7px;
    padding: 5px;
    padding-top: 10px;
    text-align: center;
    height: 90px;
    min-width: 90px;
}
.category-title {
    color: white;
}       
.category {
    height: 50px;
}
.button-date {
    width: 66%;
    display: block;
    margin: auto;
    margin-top: 20px;
}
.event-grey-background {
    background-color: #DDD;
}
.event-grey-background h1 {
    color: #FFF;
}
.event-grey-background h2 {
    color: #555;
}
.event-grey-background img {
    bottom: 15px;
}
.event-participant-title {
    margin-top: 0px;
    color: #999;
    text-align: center;
}
.centered {
    text-align: center;
}
.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}
.calendar {
    display:inline-block;
    min-height:290px;
}
.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}
.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}
.controls {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    height: 29px;
/*     margin-left: 17px; */
    margin-top: 10px;
    outline: none;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 90%;
}

.controls:focus {
    border-color: #4d90fe;
}
