/* Empty. Add your own CSS if you like */
.item-tile {
    color: white;
    background: #AB9BFF;
    display: inline-block;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: -7px;
    padding: 5px;
    padding-top: 10px;
    text-align: center;
    height: 90px;
    min-width: 90px;
}
.category-title {
    color: white;
}       
.category {
    height: 50px;
}
.button-date {
    width: 66%;
    display: block;
    margin: auto;
    margin-top: 20px;
}
.event-grey-background {
    background-color: #DDD;
}
.event-grey-background h1 {
    color: #FFF;
}
.event-grey-background h2 {
    color: #555;
}
.event-grey-background img {
    bottom: 15px;
}
.event-participant-title {
    margin-top: 0px;
    color: #999;
    text-align: center;
}
.centered {
    text-align: center;
}
    